<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @customer.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer.zipcode %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @customer.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %><br />
  <% if current_user %>
    <% if current_user.role.id == 3 %>
      <%= link_to 'Go Settlement', new_order_path %> 
    <% elsif current_user.role.id == 2 %>
      <%= link_to 'Back', customers_path %> 
    <% end %>
  <%end%>
