<h1>Confirm Payments of the order</h1>

<%= render 'form' %>

<%= form_tag "/orders/payment/", :method => 'GET' do %>
  <%= tag :input, { :type => 'hidden', :name => 'order_id', :value => @order.id } %> 
  <%= submit_tag 'Confirm Payment', :name =>'Payment' %>
<% end %>

<%= link_to 'Back', merchandises_path%>
