<p id="notice"><%= notice %></p>

<p>
  <strong>Ename:</strong>
  <%= @role.ename %>
</p>

<p>
  <strong>Jname:</strong>
  <%= @role.jname %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
