<h1>Vegetables Popularity Vote</h1> 
<div align="right">
  Your Tickets number is <%= @ticket.number %>.<br />
  あなた􏲈の投票券番号は􏲉、<%= @ticket.number %>です。<br /> 
</div>
<table>
<% @merchandises.each do |vegetable| %>
  <tr>
    <td><%= vegetable.name %></td>
    <td><%= image_tag url_for({:action => 'photo',
         :controller => 'merchandises', :id=> vegetable.id,
         :filename => vegetable.file_name}),
         :alt => vegetable.file_name %></td> 
    <td>
      <%= form_tag '/votes/vote' do %>
        <%= hidden_field_tag :vegetable_id, vegetable.id %> 
        <%= tag :input, {:type=>'hidden', :name=>'ticket',
             :value => @ticket.number } %>
        <%= submit_tag 'Vote', :name=>'vote' %>
      <% end %>
    </td> 
  </tr>
<% end %> 
</table>